h1 {
    color: #ffffff;
    text-align: center;
    padding: 20px;
    background-color: #011b1998;
    margin: 0;
    border-bottom: 3px solid #FCAF50;
}

body {
    font-family: Arial, sans-serif;
    margin: 25;
    padding: 9;
    background-color: #f4f4f4;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin: 15px;
    color: #333;
}
